body
{
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    background: #13161713;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px;
}

#profile
{
    height: 20%;
    width: 20%;
    border: 4px solid #efefef;
    border-radius: 95px;
}
.home
{
    width: 100%;
    height: 100%;
    text-align: center;
}

#heading
{
    font-weight: 800;
    font-size: 3em;
    padding: 10px;
    margin-top: 1%;
    letter-spacing: 0.05em;
}

#college
{
    text-decoration: none;
    color:#c5ecfd;;
}

#college:hover
{
    color:#ffffff;;
}

#infohome
{
    font-weight: 100;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 2em;
}

#resume
{
    font-size: 1.25em;
    font-weight: 500;
    padding: 2px 0px 2px 18px;
    text-decoration: none;
    cursor: pointer; 
    background: #11111167; 
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 30px;
}

#resume:hover, #readmore:hover{
    color: #000000;
    background-color: #ffffff77;
    text-decoration: underline;
    cursor: pointer;
}
.fab,.fas,.far{
    font-size: 1em;
    padding: 8px;
    margin: 5px 10px 5px 10px;
    background:transparent;
    color: #ffffff;
    transition: 0.5s;
}

#resume:hover .fa-download {
    color: #b23121;
}

#container
{
    text-align: center;
}

#pagehead
{
    font-size: 2.5em;
    margin-top: 1.8em;
    letter-spacing: 0.03;
}
#border {
    height: 3px;
    width: 80px;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 0.2em;
    margin-bottom: 1.2em;
    display: inline-block;
    position: relative;
}

#info
{
    text-align: center;
    margin: 1.5em 4.5em 4em 4.5em;
    line-height: 1.8em;
    letter-spacing: 0.05em;
}
#readmore
{
    font-size: 1.25em;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    cursor: pointer; 
    background: #11111167; 
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 30px;
}

.skill
{
    display: inline-block;
    padding: 40px;
}

.skillname
{   margin-left: -150px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

#otherskillname
{
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}

.containerskill
{
    display: inline;
}
