
body
{
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px;
}

.navbar
{
    float: left;
    background: #131617c9;
    width: 24%;
    height: 80vh;
    border-radius: 7px;
}

nav
{
    font-size: 1.25em;
    font-weight:600;
    padding:10px;
}

nav li
{
    list-style-type: none;
    margin: 16% auto;
}

li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 7px;
}

li a:hover{
    background-color: #ffffff77;
    color: black;
}

footer{
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    flex-direction: column;
}

#contact{
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0.5em;
}

.fab,.fas,.far{
    font-size: 1em;
    padding: 8px;
    margin: 5px 10px 5px 10px;
    background:transparent;
    color: #ffffff;
    transition: 0.5s;
}

footer.fab:hover,
footer.fas:hover {
    border-bottom: 2px solid black;
    margin-bottom: 0px;
}
.fa-facebook-f:hover {
    background: linear-gradient(90deg ,#0696ca,#0656cf);
    color: #ffffff;
}

.fa-quora:hover {
    background: #a62100;
    color: #ffffff;

}

.fa-github:hover {
    background: #333;
    color: #ffffff;
}

.fa-envelope:hover{
    background: #b23121;
    color: #ffffff;
}
.fa-instagram:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: #ffffff;
}

.fa-linkedin-in:hover{
    background: #0656cf;
    color: #ffffff;
}

li a:active{
    color: black;
    background-color: rgba(252, 252, 252, 0.74);
}

li:hover .fas,li:hover .far,li:active .fas,li:active .far{
    color: black;
}

#ihome
{
    width: 65%;
    height: 80vh;
    float: right;
    text-align: center;
    background: #131617c9;
    border: 0px solid transparent;
    border-radius: 7px;
}
